body{
    text-align: center;
    background-image: url(background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#myh1{
    font-size: 5em;
    color: white;
}
#div2{
    font-size: 3em;
    color: white;
    font-weight: bold;
    font-family: monospace;
    margin-bottom: 20px;
}
#btn1{
    padding: 15px;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: bold;
    color: green;
    background-color: rgb(0, 0, 0);
    box-shadow: 5px 5px 15px;
    cursor: pointer;
    transition: background-color;
}
#btn1:hover{
    background-color: rgb(52, 50, 50);
}
#btn2{
      padding: 15px;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: bold;
    color: red;
    background-color: rgb(0, 0, 0);
    box-shadow: 5px 5px 15px;
    cursor: pointer;
    transition: background-color;
}
#btn2:hover{
    background-color: rgb(52, 50, 50);
}
#btn3{
     padding: 15px;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: bold;
    color: white;
    background-color: black;
    box-shadow: 5px 5px 15px;
    cursor: pointer;
     transition: background-color;
}
#btn3:hover{
    background-color: rgb(52, 50, 50);
}