#myh1{
    color: aqua;
}
#div1{
    text-align: center;
    color: rgb(24, 174, 174);
    font-size: 2em;
    max-width: 400px;
    background-color: grey;
    margin: auto;
    border: 20px;
    box-shadow: 5px 5px 15px;
}
#div2{
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(36, 159, 100);
    max-width: 400px;
    max-height: 900x;
    background-color: rgb(92, 85, 85);
    margin: auto;
    box-shadow: 5px 5px 15px;
}
#submitbtn{
    padding: 10px 50px;
    font-size: medium;
    background-color: black;
    color: white;
    cursor: pointer;
}
#myinput{
    border: 2px;
    border-color: rgb(255, 56, 56);
}
#answer{
    font-size: large;
    color: rgb(255, 0, 0);
    font-weight: bolder;
    margin-bottom: 60px;
}
#bg{
    background-color: rgb(220, 219, 217);
}
#fahrenhelt{
    margin-top: 30px;
}
