body{
    text-align: center;
    background-color: aliceblue;
}
img{
    width: 300px;
    height: auto;
    cursor: pointer;
}
img:hover{
    width: 305px;
    box-shadow: 5px 5px 10px;
}
#clicktex{
    font-size: 30px;
    font-weight: bold;
}